@{
    ViewData["Title"] = "Cadastro";
}
<article class="cadastro">
    <form class="cadastro_formulario" action="/Produto/Teste"  method="post" enctype="multipart/form-data">
        <section class="cadastro_titulo">
            <h1>Cadastro</h1>
        </section>

        <section class="cadastro_campos">
            <aside class="cadastro_codigo">
                <label for="codigo">Código</label>
                <input type="number" name="Codigo" id="codigo" >                   
            </aside>
            <aside class="cadastro_produto">
                <label for="produto">Produto</label>
                <input type="text" name="Produto" id="produto" >                   
            </aside>
            <aside class="cadastro_preco"> 
                <label for="preco">Preço</label>
                <input type="number" name="Preco" id="preco" step="any" >
            </aside>
            <aside class="cadastro_quantidade"> 
                <label for="quantidade">Quantidade</label>
                <input type="number" name="Quantidade" id="quantidade" >
            </aside>
            <aside class="cadastro_descricao">
                <label for="descricao">Descrição</label>
                <textarea  type="text" name="Descricao" id="descricao" ></textarea>
            </aside>
            <aside class="cadastro_imagem">
                <label for="imagem">Imagem</label>
                <img id="imagem_preview" src="" >
                <input type="file" id="imagem" name="Imagem" accept="image/*" capture value="">
            </aside>
        </section>

        <section class="cadastro_funcoes">
            <button type="submit" id="consultar">Consultar</button>
            <button type="submit" id="">Salvar</button>
            <button type="submit" id="excluir">Excluir</button>
            <button type="submit" id="limpar">Limpar</button>
        </section>
    </form>
</article>
@if (ViewBag.produtoModel != null && ViewBag.produtoModel != "")
{
    string[] produto = ViewBag.produtoModel.Split('#');
    <script>
            document.getElementById("codigo").value = "@produto[1]";
            document.getElementById("produto").value = "@produto[2]";
            document.getElementById("preco").value = "@produto[3]";
            document.getElementById("quantidade").value = "@produto[4]";
            document.getElementById("descricao").value = "@produto[5]";
            document.getElementById("imagem_preview").src = "@produto[6]";
    </script>
}
