@{
    ViewData["Title"] = "Carrinho";
}
 @if (!ViewBag.produtoModelList.Equals(""))
{
    @ViewBag.produtoModelList.Count;
    <article class="titulo_principal">
            <h1>Meus Produtos</h1>
         </article>
        @foreach (var produtoModel in ViewBag.produtoModelList)
        {
            <article class="produto">
                    <section class="produto_informacoes">
                        <aside class="produto_imagem">
                            <img src="@produtoModel.retornarImagem()" alt="">
                        </aside>
                        <aside class="produto_dados">
                            <p>@produtoModel.retornarProduto()</p>
                            <p>Código: @produtoModel.retornarCodigo()</p>
                            <p>Preço: R$ @produtoModel.retornarPreco()</p>
                            <p>Quantidade: @produtoModel.retornarQuantidade()</p>
                        </aside>
                    </section>
                     <section class="produto_funcoes">
                        <button><a asp-area="" asp-controller="Produto" asp-action="Produtos">Produtos</a></button>
                        <button type="button" id="remover" data-button="Remover" value="@produtoModel.retornarCodigo()">Remover</button>
                        <button type="button" id="finalizar" data-button="Concluir">Concluir</button>
                    </section>
                    <section class="produto_descricao">
                        <details>
                            <summary>Descrição</summary>
                             <p>@produtoModel.retornarDescricao()</p>
                        </details>
                    </section>
            </article>
        }
    }