@{
    ViewData["Title"] = "Produtos";
}
    
    @if (!ViewBag.produtoModelList.Equals(""))
    {    
         <article class="titulo_principal">
            <h1>Produtos</h1>
         </article>
        @foreach (var produtoModel in ViewBag.produtoModelList)
        {
            string[] produto = produtoModel.Split('#');
            
            <article class="produto">
                    <section class="produto_informacoes">
                        <aside class="produto_imagem">
                            <img src="@produto[6]" alt="">
                        </aside>
                        <aside class="produto_dados">
                            <p>@produto[2]</p>
                            <p>Código: @produto[1]</p>
                            <p>Preço: R$ @produto[3]</p>
                            <p>Estoque: @produto[4]</p>
                        </aside>
                    </section>
                     <section class="produto_funcoes">
                        <!--<button type="button">Adicionar<a asp-area="" asp-controller="Produto" asp-action="Adicionar" asp-route-codigo=" produto[1]"></a></button>-->
                        <button type="submit" id="adicionar" data-button="Adicionar" value="@produto[1]">Adicionar</button>
                        <button><a asp-area="" asp-controller="Produto" asp-action="Carrinho">Carrinho</a></button>
                    </section>
                    <section class="produto_descricao">
                        <details>
                            <summary>Descrição</summary>
                             <p>@produto[5]</p>
                        </details>
                    </section>
            </article>
        }
    }


