@{
    ViewData["Title"] = "Produtos";
}
<section class="produto">
      @if (!ViewBag.produtoModelList.Equals(""))
      {    
        @foreach (var produtoModel in ViewBag.produtoModelList)
        {
            string[] produto = produtoModel.Split('#');

            <div class="produto_item">
                 <div class="produto_informacoes">
                     <p>Cód: @produto[1]</p>
                    <p>Preço: R$ @produto[3]</p>
                    <p>Estoque: @produto[4]</p>
                </div>

                <div class="produto_funcoes">
                    <img src="~/img/images.png" alt="">
                    <button type="button" id="adicionar" onclick="Adcionar(this.id)">Adicionar</button>
                    <button type="button" id="remover" onclick="Remover(this.id)">Remover</button>
                </div>

                <div class="produto_descricao">
                    <details>
                        <summary>Descrição</summary>
                        <p>@produto[2]</p>
                        <p>@produto[5]</p>
                    </details>
                </div>
            </div>
        }
      }
</section>

